@media screen and (min-width: 700px) {
    nav {
        max-width: 960px;
        margin: auto;
        flex-grow: 1;
        background-color: #99aab5; 
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu {
        list-style: none;
    }
    .menu li{
        display: inline;
    }
    .container{
        display: flex;
        flex-direction: column;
        text-align:center;
    
    }

    .div1 {
        background-color: #99aab5;
        max-width: 960px;
        margin: auto;
        flex-grow: 1;
        /*justify-content: center;*/
        margin-bottom: 10px;
    
    }

    .div2 {
        background-color: #99aab5;
        order: 0;
        
    }

    .form-1{
        background-color: #99aab5;
        max-width: 960px;
        margin: auto;
        flex-grow: 1;
        order: 1;
        margin-bottom: 10px;
    }

    .tabl-1 {
        background-color: #99aab5;
        border-collapse: separate;
        text-indent: initial;
        border-spacing: 2px;
        width: 100%;
        max-width: 960px;
        margin: auto;
        margin-bottom: 10px;
    }

    ol{
        display: inline-block;
    }
    footer {
       text-align: left;
    }
}
