body {
    background-color: #37393d;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-style: normal;
    color: #FFFFFF;
   
}
header {
    font-size: 20pt;
    background-color: #99aab5;
    text-align:center; 
}
img {
    float:left;
    margin:0px;
    width:80px;
    height:80px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
nav {
    margin: auto;
    float: left;
    background-color: #99aab5;
    width: 100%;
    flex-grow: 1;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    list-style: none;
    padding-left: 0;
    margin-left:0 ;
}
.div1{
    width: 100%;
    flex-grow: 1;
    margin: auto;
    background-color: #99aab5;
    margin-bottom: 10px;
    

}
.form-1{
    width: 100%;
    flex-grow: 1;
    margin: auto;
    order: 0;
    background-color: #99aab5;
    margin-bottom: 10px;
}
.div2 {
    background-color: #99aab5;
    max-width: 960px;
    margin: auto;
    flex-grow: 1;
    order: 1;
}
.link-1 {
    color: #7289da;
}

.spisok-1{
    color: #FFFFFF;
}

.tabl-1 {
    background-color: #99aab5;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    margin-bottom: 10px;
    
}

.tabl-chet{
    background-color: #7289da;
}

footer {
    background-color: #99aab5;
    order: 5;
}
