body {
    background-color: #37393d;
        
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-style: normal;
    color: #FFFFFF;
   
}
header {
    background-color: #99aab5;
    text-align:center; 
}
.container{
    display: flex;
    flex-direction: column;
}
nav {
    margin: auto;
    float: left;
    background-color: #99aab5;
    width: 100%;
    flex-grow: 1;
    margin: auto;
}

.div1{
    width: 100%;
    flex-grow: 1;
    margin: auto;
    background-color: #99aab5;

}
.form-1{
    width: 100%;
    flex-grow: 1;
    margin: auto;
    order: 0;
    background-color: #99aab5;
}
.div2 {
    background-color: #99aab5;
    max-width: 960px;
    margin: auto;
    flex-grow: 1;
    order: 1;
}
.link-1 {
    color: #7289da;
}

.spisok-1{
    color: #FFFFFF;
}

.tabl-1 {
    background-color: #99aab5;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    
    /*order: 1;*/
    /*margin: 0 auto;*/
}

.tabl-chet{
    background-color: #7289da;
}

footer {
    background-color: #99aab5;
    order: 5;
}

@media screen and (min-width: 700px) {
    nav {
        max-width: 960px;
        margin: auto;
        flex-grow: 1;
        background-color: #99aab5; 
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*flex-grow: 1; width: 960;*/
        /*margin:0 auto;*/
        text-align:center;
    
    }
    .div1 {
        background-color: #99aab5;
        max-width: 960px;
        margin: auto;
        flex-grow: 1;
        justify-content: center;
    
    }
    .div2 {
        background-color: #99aab5;
        max-width: 960px;
        margin: auto;
        flex-grow: 1;
        order: 0;

        
    }
    .form-1{
        background-color: #99aab5;
        max-width: 960px;
        margin: auto;
        flex-grow: 1;
        order: 1;
        
    
    }
    ol{
        display: inline-block;
    }
    
}
/*<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="desktop.css" media="(min-width: 700px)">*/
